<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.demo.security.dao.DataRemittanceReviewMapper">
  <resultMap id="BaseResultMap" type="org.demo.security.entity.DataRemittanceReview">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="remittanceId" jdbcType="BIGINT" property="remittanceId" />
    <result column="dataName" jdbcType="VARCHAR" property="dataName" />
    <result column="industryTypeId" jdbcType="BIGINT" property="industryTypeId" />
    <result column="subjectAreaId" jdbcType="BIGINT" property="subjectAreaId" />
    <result column="dataOpenTypeId" jdbcType="BIGINT" property="dataOpenTypeId" />
    <result column="reviewTypeId" jdbcType="BIGINT" property="reviewTypeId" />
    <result column="createBy" jdbcType="BIGINT" property="createBy" />
    <result column="createTime" jdbcType="VARCHAR" property="createTime" />
    <result column="updateBy" jdbcType="BIGINT" property="updateBy" />
    <result column="updateTime" jdbcType="VARCHAR" property="updateTime" />
    <result column="dataType" jdbcType="VARCHAR" property="dataType" />
    <result column="dataFormat" jdbcType="VARCHAR" property="dataFormat" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="remittanceType" jdbcType="VARCHAR" property="remittanceType" />
  </resultMap>



    <select id="getDataRemittanceReviewList" resultType="com.alibaba.fastjson2.JSONObject">
        SELECT drr.id,drr.dataName,drr.industryTypeId,drr.subjectAreaId,drr.dataOpenTypeId,drr.reviewTypeId,u1.userName AS submitName,drr.createTime,it.industryName,sa.subjectName,dot.dataOpenTypeName,rt.reviewName AS reviewStatus,CAST(drr.remittanceType AS SIGNED) AS remittanceType,CASE
                                                                                                                                                                                                                                                                                                WHEN drr.remittanceType='0' THEN '新增'
                                                                                                                                                                                                                                                                                                WHEN drr.remittanceType='1' THEN '更新'
                                                                                                                                                                                                                                                                                                WHEN drr.remittanceType='2' THEN '重提'
                                                                                                                                                                                                                                                                                                ELSE ''
            END AS 'remittanceTypeView',u2.userName AS reviewName FROM `data_remittance_review` drr LEFT JOIN industry_type it ON drr.industryTypeId=it.id LEFT JOIN subject_area sa ON drr.subjectAreaId=sa.id LEFT JOIN data_open_type dot ON drr.dataOpenTypeId=dot.id LEFT JOIN review_type rt ON drr.reviewTypeId=rt.id LEFT JOIN `user` u1 ON drr.createBy=u1.userId LEFT JOIN review_audit_record rar ON drr.id=rar.reviewId LEFT JOIN audit_record ar ON rar.auditRecordId=ar.id LEFT JOIN `user` u2 ON ar.reviewBy=u2.userId
        <where>
            <if test="''!=dataName and null!=dataName">
                dataName LIKE concat('%',#{dataName},'%')
            </if>
            <if test="''!=industryTypeId and null!=industryTypeId">
                and industryTypeId=${industryTypeId}
            </if>
            <if test="''!=subjectAreaId and null!=subjectAreaId">
                and subjectAreaId=${subjectAreaId}
            </if>
            <if test="''!=dataOpenTypeId and null!=dataOpenTypeId">
                and dataOpenTypeId=${dataOpenTypeId}
            </if>
            <if test="''!=reviewTypeId and null!=reviewTypeId">
                and reviewTypeId=${reviewTypeId}
            </if>
            <if test="''!=remittanceType and null!=remittanceType">
                and remittanceType=${remittanceType}
            </if>

            <if test="''!=submitName and null!=submitName">
                submitName LIKE concat('%',#{submitName},'%')
            </if>
            <if test="''!=reviewName and null!=reviewName">
                reviewName LIKE concat('%',#{reviewName},'%')
            </if>
            <if test="''!=createStartTime and null!=createStartTime">
                and createTime &gt;= #{createStartTime}
            </if>
            <if test="''!=createEndTime and null!=createEndTime">
                and createTime &lt;= #{createEndTime}
            </if>
        </where>LIMIT ${starIndex}, ${pageSize};
    </select>



    <select id="getDataRemittanceReviewTotal" resultType="java.lang.Long">
        SELECT COUNT(drr.id) FROM `data_remittance_review` drr LEFT JOIN industry_type it ON drr.industryTypeId=it.id LEFT JOIN subject_area sa ON drr.subjectAreaId=sa.id LEFT JOIN data_open_type dot ON drr.dataOpenTypeId=dot.id LEFT JOIN review_type rt ON drr.reviewTypeId=rt.id LEFT JOIN `user` u1 ON drr.createBy=u1.userId LEFT JOIN review_audit_record rar ON drr.id=rar.reviewId LEFT JOIN audit_record ar ON rar.auditRecordId=ar.id LEFT JOIN `user` u2 ON ar.reviewBy=u2.userId
        <where>
            <if test="''!=dataName and null!=dataName">
                dataName LIKE concat('%',#{dataName},'%')
            </if>
            <if test="''!=industryTypeId and null!=industryTypeId">
                and industryTypeId=${industryTypeId}
            </if>
            <if test="''!=subjectAreaId and null!=subjectAreaId">
                and subjectAreaId=${subjectAreaId}
            </if>
            <if test="''!=dataOpenTypeId and null!=dataOpenTypeId">
                and dataOpenTypeId=${dataOpenTypeId}
            </if>
            <if test="''!=reviewTypeId and null!=reviewTypeId">
                and reviewTypeId=${reviewTypeId}
            </if>
            <if test="''!=remittanceType and null!=remittanceType">
                and remittanceType=${remittanceType}
            </if>

            <if test="''!=submitName and null!=submitName">
                submitName LIKE concat('%',#{submitName},'%')
            </if>
            <if test="''!=reviewName and null!=reviewName">
                reviewName LIKE concat('%',#{reviewName},'%')
            </if>
            <if test="''!=createStartTime and null!=createStartTime">
                and createTime &gt;= #{createStartTime}
            </if>
            <if test="''!=createEndTime and null!=createEndTime">
                and createTime &lt;= #{createEndTime}
            </if>
        </where>
    </select>


    <update id="updateReviewTypeIdById">
        UPDATE `data_remittance_review` SET `reviewTypeId` = ${reviewTypeId} WHERE `id` = ${id};
    </update>

    <select id="getDataRemittanceReviewById" resultType="com.alibaba.fastjson2.JSONObject">
        SELECT drr.*,it.industryName,sa.subjectName,dot.dataOpenTypeName,rt.reviewName,CASE
                                                                                           WHEN drr.remittanceType=0 THEN '新增'
                                                                                           WHEN drr.remittanceType=1 THEN '更新'
                                                                                           WHEN drr.remittanceType=2 THEN '重提'
                                                                                           ELSE ''
            END AS 'remittanceTypeName' FROM (SELECT * FROM `data_remittance_review` WHERE id=${id}) drr LEFT JOIN industry_type it ON drr.industryTypeId=it.id LEFT JOIN subject_area sa ON drr.subjectAreaId=sa.id LEFT JOIN data_open_type dot ON drr.dataOpenTypeId=dot.id LEFT JOIN review_type rt ON drr.reviewTypeId=rt.id;
</select>


    <select id="getDataRemittanceReviewId" resultMap="BaseResultMap">
        SELECT * FROM `data_remittance_review` WHERE id=${id} lock in share mode;
    </select>

    <select id="getDataRemittanceReviewHisTotalByRemittanceId" resultType="java.lang.Long">
        SELECT COUNT(id) FROM `data_remittance_review` WHERE remittanceId=${remittanceId};
    </select>
  <select id="getDataRemittanceReviewHisByRemittanceId" resultType="com.alibaba.fastjson2.JSONObject">
      SELECT SUBSTRING(drr.createTime, 1, 10) AS createTime,rt.reviewName, CASE
                                                                               WHEN drr.remittanceType='0' THEN '新增'
                                                                               WHEN drr.remittanceType='1' THEN '更新'
                                                                               WHEN drr.remittanceType='2' THEN '重提'
                                                                               ELSE ''
          END AS 'remittanceType' FROM (SELECT DISTINCT reviewId FROM remittance_vs_review WHERE remittanceId=${remittanceId}) rvr LEFT JOIN data_remittance_review drr ON rvr.reviewId=drr.id LEFT JOIN review_type rt ON drr.reviewTypeId=rt.id ORDER BY drr.createTime LIMIT ${newStarSize},${pageSize};
  </select>

  <insert id="addDataRemittanceReview" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO `data_remittance_review`(`remittanceId`,
                                  `dataName`,
                                  `industryTypeId`,
                                  `subjectAreaId`,
                                  `dataOpenTypeId`,
                                  `reviewTypeId`,
                                  `createBy`,
                                  `createTime`,
                                  `updateBy`,
                                  `updateTime`,
                                  `dataType`,
                                  `dataFormat`,
                                  `remark`,
                                  `remittanceType`) VALUES ( ${dataRemittanceReview.remittanceId},
                                                         #{dataRemittanceReview.dataName},
                                                         ${dataRemittanceReview.industryTypeId},
                                                         ${dataRemittanceReview.subjectAreaId},
                                                         ${dataRemittanceReview.dataOpenTypeId},
                                                         ${dataRemittanceReview.reviewTypeId},
                                                         ${dataRemittanceReview.createBy},
                                                         #{dataRemittanceReview.createTime},
                                                         ${dataRemittanceReview.updateBy},
                                                         #{dataRemittanceReview.updateTime},
                                                         #{dataRemittanceReview.dataType},
                                                         #{dataRemittanceReview.dataFormat},
                                                         #{dataRemittanceReview.remark},
                                                         #{dataRemittanceReview.remittanceType});
  </insert>

</mapper>