<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.demo.security.dao.IndustryTypeMapper">
  <resultMap id="BaseResultMap" type="org.demo.security.entity.IndustryType">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="industryName" jdbcType="VARCHAR" property="industryName" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="delFlag" jdbcType="CHAR" property="delFlag" />
    <result column="createBy" jdbcType="BIGINT" property="createBy" />
    <result column="createTime" jdbcType="VARCHAR" property="createTime" />
    <result column="updateBy" jdbcType="BIGINT" property="updateBy" />
    <result column="updateTime" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>

    <select id="getIndustryTypeBox" resultType="com.alibaba.fastjson2.JSONObject">
        SELECT id,industryName FROM `industry_type` WHERE  `delFlag` != "1" AND `status`!= "1";
    </select>



    <select id="getIndustryTypeList" resultType="com.alibaba.fastjson2.JSONObject">
        SELECT it.*,CASE
                        WHEN it.status='0' THEN '正常'
                        WHEN it.status='1' THEN '停用'
                        ELSE ''
            END AS 'statusView',u1.userName AS createName,u2.userName AS updateName FROM (SELECT id,industryName,status,createBy,createTime,updateBy,updateTime FROM `industry_type`
        <where>
            <if test="''!=industryName and null!=industryName">
                industryName LIKE concat('%',#{industryName},'%')
            </if>
            <if test="''!=status and null!=status">
                and status=#{status}
            </if>
            <if test="1==1">
                and delFlag != "1"
            </if>
        </where> LIMIT ${starIndex}, ${pageSize}) it INNER JOIN `user` u1 ON it.createBy=u1.userId INNER JOIN `user` u2 ON it.updateBy=u2.userId ORDER BY it.updateTime desc;
    </select>


    <update id="updateIndustryTypeStatusById">
        UPDATE `industry_type` SET `status` = #{status},
                                   `updateBy`=#{userId},
                                   `updateTime` = #{todayAllStr} WHERE `id` = ${id};
    </update>

    <update id="delIndustryTypeById">
        UPDATE `industry_type` SET `status` = '1',
                                   `delFlag` = '1',
                                   `updateBy`=#{userId},
                                   `updateTime` = #{todayAllStr} WHERE `id` = ${id};
    </update>



    <update id="updateIndustryNameById">
        UPDATE `industry_type` SET `industryName` = #{industryName},
                                    `createBy` = ${userId},
                                    `updateTime` = #{todayAllStr} WHERE `id` = ${id};
    </update>


  <insert id="addIndustryType">
    INSERT INTO `industry_type`(`industryName`,
                                `status`,
                                `delFlag`,
                                `createBy`,
                                `createTime`,
                                `updateBy`,
                                `updateTime`) VALUES (
                                                       #{industryType.industryName},
                                                       #{industryType.status},
                                                       #{industryType.delFlag},
                                                       ${industryType.createBy},
                                                       #{industryType.createTime},
                                                       ${industryType.updateBy},
                                                       #{industryType.updateTime});
  </insert>
</mapper>