<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.demo.security.dao.LegalPersonMapper">
  <resultMap id="BaseResultMap" type="org.demo.security.entity.LegalPerson">
    <id column="legalPersonId" jdbcType="BIGINT" property="legalPersonId" />
    <result column="companyName" jdbcType="VARCHAR" property="companyName" />
    <result column="creditCode" jdbcType="VARCHAR" property="creditCode" />
    <result column="licenseNumber" jdbcType="VARCHAR" property="licenseNumber" />
    <result column="legalPersonName" jdbcType="VARCHAR" property="legalPersonName" />
    <result column="legalPersonTypeId" jdbcType="INTEGER" property="legalPersonTypeId" />
  </resultMap>

  <insert id="addLegalPerson" useGeneratedKeys="true" keyProperty="legalPersonId">
    INSERT INTO `legalperson`(`companyName`,
                       `creditCode`,
                       `licenseNumber`,
                       `legalPersonName`,
                       `legalPersonTypeId`) VALUES ( #{legalPerson.companyName},
                                             #{legalPerson.creditCode},
                                             #{legalPerson.licenseNumber},
                                             #{legalPerson.legalPersonName},
                                             ${legalPerson.legalPersonTypeId});
  </insert>
</mapper>